*{
    box-sizing: border-box;
    /*recalcula el padding y el border con el width del elemento*/
    padding:0;
    margin:0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    
}

.main-screen{
    display:flex;
}


.contenedor{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px;
    color: aqua;
}

.bloques{
    display: flex;
    justify-content: space-around;
    color: aquamarine;
    width: 100px;
    height: 50s0px;
}

.contes{
    color: blanchedalmond;
    width: 100px;
    height: 100px;
    margin: 5px;
}